/* Tomorrow Night Bright Colors */

$background:   #000000;
$foreground:   #eaeaea;
$comment:      #969896;
$aqua:         #70c0b1;
$blue:         #7aa6da;
$green:        #b9ca4a;
$orange:       #e78c45;
$purple:       #c397d8;
$red:          #d54e53;
$yellow:       #e7c547;

@import "tomorrow-styles";