/* Tomorrow Night Colors */

$background:   #1d1f21;
$foreground:   #c5c8c6;
$comment:      #969896;
$aqua:         #8abeb7;
$blue:         #81a2be;
$green:        #b5bd68;
$orange:       #de935f;
$purple:       #b294bb;
$red:          #cc6666;
$yellow:       #f0c674;

@import "tomorrow-styles";