/* Tomorrow Colors */

$background:   #ffffff;
$foreground:   #4d4d4c;
$comment:      #8e908c;
$aqua:         #3e999f;
$blue:         #4271ae;
$green:        #718c00;
$orange:       #f5871f;
$purple:       #8959a8;
$red:          #c82829;
$yellow:       #eab700;

@import "tomorrow-styles";