/* Tomorrow Night Eighties Colors */

$background:   #2D2D2D;
$foreground:   #cccccc;
$comment:      #999999;
$aqua:         #66cccc;
$blue:         #6699cc;
$green:        #99cc99;
$orange:       #f99157;
$purple:       #cc99cc;
$red:          #f2777a;
$yellow:       #ffcc66;

@import "tomorrow-styles";