/* Tomorrow Night Blue Colors */

$background:   #002451;
$foreground:   #ffffff;
$comment:      #7285b7;
$aqua:         #99ffff;
$blue:         #bbdaff;
$green:        #d1f1a9;
$orange:       #ffc58f;
$purple:       #ebbbff;
$red:          #ff9da4;
$yellow:       #ffeead;

@import "tomorrow-styles";